<footer class="certificate-footer">
  <div class="footer-logos">
    <div class="footer-logo-group">
      <img src="/img/data.png" alt="data.gov.in">
      <img src="/img/india-gov.png" alt="india.gov.in">
      <img src="/img/make.png" alt="Make in India">
      <img src="/img/digitalIndia.png" alt="Digital India">
      <img src="/img/myGov.png" alt="MyGov">
      
    </div>
  </div>
  </div>
    <div class="footer-links">
      <a href="#">Website Policy</a> |
      <a href="#">Mobile App Privacy Policy</a> |
      <a href="#">Terms & Conditions</a> |
      <a href="#">Accessibility Statement</a> |
      <a href="#">Web Information Manager</a>
    </div>
</footer>

